.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 10px;
    font-weight: 500;
    color: #000000;
    width: 120px;
}

.img {
    width: 100px;
}

.name {
    font-size: 30px;
    color: #000000;
}

.isOnline {
    color: green;
}

.Offline {
    color: red;
}